* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 12px;
}

img {
    cursor: pointer;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    width: 900px;
    height: 400px;
    background-image: url('./imgs/image\ 1.png');
    background-position: center;
    object-fit: cover;
}

.price_and_speed {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.price h3 {
    font-size: 38px;
}

.speed h3 {
    font-size: 38px;
}

.stats {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.kilometr {
    position: relative;
    width: 150px;
    height: 60px;
}

.speed_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.speed_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.temprature {
    position: relative;
    width: 150px;
    height: 60px;
}

.temprature_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.temprature_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.disks {
    position: relative;
    width: 70px;
    height: 60px;
}

.disks_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.disks_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.saloon_color {
    margin-top: 20px;
    display: none;
}

.flex_con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.black, .white, .beige {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.black{background-color: black;}
.white{background-color: rgb(168, 168, 168);}
.beige{background-color: beige;}
