* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 12px;
}

img {
    cursor: pointer;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    width: 900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: -4px -3px 23px -2px rgba(34, 60, 80, 0.13);
    /* animation-name: scale; */
    animation-duration: 2s;
    /* object-fit: contain; */
}

.price_and_speed {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.price h3 {
    font-size: 38px;
}

.speed h3 {
    font-size: 38px;
}

.stats {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.kilometr {
    position: relative;
    width: 150px;
    height: 60px;
}

.speed_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.speed_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.temprature {
    position: relative;
    width: 150px;
    height: 60px;
}

.temprature_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.temprature_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.disks {
    position: relative;
    width: 70px;
    height: 60px;
}

.disks_up {
    position: absolute;
    top: 5px;
    right: 2px;
    width: 15px;
}
.disks_down {
    position: absolute;
    bottom: 15px;
    right: 2px;
    width: 15px;
}

.saloon_color {
    margin-top: 20px;
    display: none;
}

.flex_con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.black, .white, .beige {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.black{background-color: black;}
.white{background-color: rgb(168, 168, 168);}
.beige{background-color: beige;}

#aircon {position: absolute; top: -1000px;}
.aircon {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.aircon_r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    left: 1px;
    transition: .3s ease;
}

#long_range {position: absolute; top: -1000px;}
.long_range {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.long_range_r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    left: 1px;
    transition: .3s ease;
}

#view {position: absolute; top: -1000px;}
.view {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.view_r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    left: 1px;
    transition: .3s ease;
}

#view2 {position: absolute; top: -1000px;}
.view2 {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.view_r2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    left: 1px;
    transition: .3s ease;
}

.saloon3, .saloon2, .saloon1 {
    width: 100%;
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

@keyframes scale {
    from {
        background-size: 100%;
    }

    to {
        background-size: 10000px;
    }
}