* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 20px auto;
    max-width: 1200px;

}

.add_todo_wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#todo_text {
    padding: 3px;
    height: 25px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: #0071E3;
    caret-color: #0071E3;
}

.add_todo_button {
    outline: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #0071E3;
    color: white;
    border: none;
    cursor: pointer;
}

.todos_container {
    margin: 0 auto;
    display: inline-block;
    margin-top: 15px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.todo_box {
    position: relative;
    max-width: 300px;
    min-height: 90px;
    border: 1px solid #007FFF;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 45px;
    background: #F0F0F0;
    overflow: hidden;
}

.todo_box h3{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
}

.todo_box p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.todo_close {
    position: absolute;
    width: 25px;
    height: 25px;
    border: solid 1px black;
    border-radius: 50%;
    cursor: pointer;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo_close:hover {
    border-color: #0071E3;
    background-color: #0071E3;
    color: white;
}